/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section:not(.landing) {
    padding: 70px 0;
  }
}
@media (max-width: 767px) {
  section:not(.landing) {
    padding: 90px 0;
  }
}
/* header */
@media (min-width: 768px) {
  header nav i {
    display: none !important;
  }
}
@media (max-width: 768px) {
  header ul {
    display: none;
    z-index: 1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }
  .about ul li {
    width: 100% !important;
  }
}
@media (min-width: 768px) {
  .about p {
    width: 700px;
  }
}
@media (min-width: 1009px) {
  .jewel-container {
    position: absolute;
    right: 0;
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    animation: move 6s infinite linear;
    -webkit-animation: move 6s infinite linear;
  }

  .jewel {
    width: 120px;
    height: 120px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotate 6s infinite linear;
    animation: rotate 6s infinite linear;
  }

  .face {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0.9;
  }

  .top {
    border-width: 90px 90px 0 90px;
    border-color: #e27745 transparent transparent transparent;
    -webkit-transform: rotateX(45deg) translateY(-30px);
    transform: rotateX(45deg) translateY(-30px);
  }

  .bottom {
    border-width: 90px 90px 0 90px;
    border-color: #e27745 transparent transparent transparent;
    -webkit-transform: rotateX(-45deg) translateY(30px);
    transform: rotateX(-45deg) translateY(30px);
  }

  .left {
    border-width: 90px 0 90px 90px;
    border-color: transparent transparent #e27745 transparent;
    -webkit-transform: rotateY(-45deg) translateX(-30px);
    transform: rotateY(-45deg) translateX(-30px);
  }

  .right {
    border-width: 90px 90px 90px 0;
    border-color: transparent #e27745 transparent transparent;
    -webkit-transform: rotateY(45deg) translateX(30px);
    transform: rotateY(45deg) translateX(30px);
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateY(0deg) rotateX(10deg);
      transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
      -webkit-transform: rotateY(360deg) rotateX(10deg);
      transform: rotateY(360deg) rotateX(10deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotateY(0deg) rotateX(10deg);
      transform: rotateY(0deg) rotateX(10deg);
    }
    100% {
      -webkit-transform: rotateY(360deg) rotateX(10deg);
      transform: rotateY(360deg) rotateX(10deg);
    }
  }
  @-webkit-keyframes move {
    0% {
      top: 0;
    }
    25% {
      top: 120px;
    }
    50% {
      top: 290px;
    }
    75% {
      top: 120px;
    }
    100% {
      top: 0px;
    }
  }
  @keyframes move {
    0% {
      top: 0;
    }
    25% {
      top: 120px;
    }
    50% {
      top: 290px;
    }
    75% {
      top: 120px;
    }
    100% {
      top: 0px;
    }
  }
}
@media (min-width: 768px) {
  .body .container .text {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  .body .container .text {
    width: 100%;
  }
  .body .container {
    flex-direction: column;
  }
  .projectshow {
    left: 0;
  }
}
